<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<title>ORCHESTRA</title>
		<link rel="stylesheet" href="./static/dist/css/style.css">
		<link rel="stylesheet" href="./static/dist/css/fonts.css">
		<link rel="stylesheet" href="./static/dist/css/iconic.css">
	</head>
	<body>
	<div class="container" style="position:fixed; bottom:0; z-index:9999;">
		<div class="row">
			<pre id="console" class="col-md-12"></pre>
		</div>
	</div>
	<div class="row">
	<div class="col-md-6" id="test">
		<div class="heading">
			<div><strong>Lorem ipsum dolor sit amet</strong></div>
			<div>Nulla consequat massa quis</div>
		</div>
		<h1>Lorem ipsum dolor sit amet consectetuer adipiscing 
elit</h1>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa 
<strong>strong</strong>. Cum sociis natoque penatibus 
et magnis dis parturient montes, nascetur ridiculus 
mus. Donec quam felis, ultricies nec, pellentesque 
eu, pretium quis, sem. Nulla consequat massa quis 
enim. Donec pede justo, fringilla vel, aliquet nec, 
vulputate eget, arcu. In enim justo, rhoncus ut, 
imperdiet a, venenatis vitae, justo. Nullam dictum 
felis eu pede <a class="external ext" href="#">link</a> 
mollis pretium. Integer tincidunt. Cras dapibus. 
Vivamus elementum semper nisi. Aenean vulputate 
eleifend tellus. Aenean leo ligula, porttitor eu, 
consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
dapibus in, viverra quis, feugiat a, tellus. Phasellus 
viverra nulla ut metus varius laoreet. Quisque rutrum. 
Aenean imperdiet. Etiam ultricies nisi vel augue. 
Curabitur ullamcorper ultricies nisi.</p>


<h1>Lorem ipsum dolor sit amet consectetuer adipiscing 
elit</h1>


<h2>Aenean commodo ligula eget dolor aenean massa</h2>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<h2>Aenean commodo ligula eget dolor aenean massa</h2>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<ul>
  <li>Lorem ipsum dolor sit amet consectetuer.</li>
  <li>Aenean commodo ligula eget dolor.</li>
  <li>Aenean massa cum sociis natoque penatibus.</li>
</ul>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>
	</div>

	<div class="col-md-6" id="test2">
		<div class="heading">
			<div><strong>Lorem ipsum dolor sit amet</strong></div>
			<div>Nulla consequat massa quis</div>
		</div>
		<h1>Lorem ipsum dolor sit amet consectetuer adipiscing 
elit</h1>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa 
<strong>strong</strong>. Cum sociis natoque penatibus 
et magnis dis parturient montes, nascetur ridiculus 
mus. Donec quam felis, ultricies nec, pellentesque 
eu, pretium quis, sem. Nulla consequat massa quis 
enim. Donec pede justo, fringilla vel, aliquet nec, 
vulputate eget, arcu. In enim justo, rhoncus ut, 
imperdiet a, venenatis vitae, justo. Nullam dictum 
felis eu pede <a class="external ext" href="#">link</a> 
mollis pretium. Integer tincidunt. Cras dapibus. 
Vivamus elementum semper nisi. Aenean vulputate 
eleifend tellus. Aenean leo ligula, porttitor eu, 
consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
dapibus in, viverra quis, feugiat a, tellus. Phasellus 
viverra nulla ut metus varius laoreet. Quisque rutrum. 
Aenean imperdiet. Etiam ultricies nisi vel augue. 
Curabitur ullamcorper ultricies nisi.</p>


<h1>Lorem ipsum dolor sit amet consectetuer adipiscing 
elit</h1>


<h2>Aenean commodo ligula eget dolor aenean massa</h2>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<h2>Aenean commodo ligula eget dolor aenean massa</h2>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<ul>
  <li>Lorem ipsum dolor sit amet consectetuer.</li>
  <li>Aenean commodo ligula eget dolor.</li>
  <li>Aenean massa cum sociis natoque penatibus.</li>
</ul>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>

		</div>
	</div>
</div>
		<header class="scn-header">
			<div class="scn-menu hidden">
				<span class="fa fa-bars btn-menu-side"></span>
			</div>
			<div class="scn-logo">
				<div class="logo">ORCHESTRA</div>
			</div>
			<nav class="nav-side-zone">
				<ul>
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Dernière minute</a></li>
					<li><a href="#">Séjour</a></li>
					<li><a href="#">Week-end</a></li>
					<li><a href="#">Vacances en france</a></li>
				</ul>
			</nav>
		</header>
<svg width="325px" height="325px" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <path d="M80 80
           A 45 45, 0, 0, 0, 125 125
           L 125 80 Z" fill="green"/>

<path d="M40,20  A30,30 0 0,0 70,70"
    style="stroke: #cccc00; stroke-width:2; fill:none;"/>

</svg>


		<div class="container lyt-core">
			<div class="row">
				<div class="col-md-3 lyt-side">
					<section class="scn-summary">
						<div class="scn-product-img">
							<div class="img" style="background-image:url('../mock/images/product-image.jpg')"><!--img src="../mock/images/product-image.jpg" alt=""--></div>
							<div class="scn-product-title">
								<h1><span class="name">Hôtel delphin ribat 3*</span><span class="country">Tunisie</span></h1>
							</div>
						</div>
						<div class="scn-product-planning hidden">
							<ul class="list-unstyled">
								<li><span class="lbl">Date de départ</span></li>
								<li><span class="lbl">Date de retour</span></li>
								<li><span class="lbl">Durée</span></li>
							</ul>
						</div>
					</section>
				</div>
				<div class="col-md-9 lyt-body">
						<section class="scn-accommodation hidden">
							<div class="scn-distribution">
								<h2>Répartition des voyageurs</h2>
							</div>
							<div class="scn-category">
								<h2>Catégorie d’hébergement</h2>
								<ul class="list-unstyled">
									<li><label for="rdo_cat1"><input type="radio" checked="checked" name="category" id="rdo_cat1"> Standard</label></li>
									<li><label for="rdo_cat2"><input type="radio" name="category" id="rdo_cat2"> Vue mer</label></li>
								</ul>
							</div>
							<div class="scn-pension">
								<h2>Type de pension</h2>
								<span>Tout compris</span>
							</div>
						</section>

					  <section id="scn-services">
					  	<div id="snc-benefit">
						  	<h2>Prestations</h2>
								<div class="services"></div>
					  	</div>
	<hr>
	<section class="snc-demo-code">
	<h4>Add presta demo</h4>
	<pre><u>Add service</u>
	app.servicesCollection.add(new app.Service({
	  title: "Demo de prestation",
	  price: "46",
	  desc: "Description demo.",
	}));

	<u>Render</u>
	app.servicesView.render();</pre>
	</section>
	<hr>
							<div id="snc-luggage">
								<h2>Baggages</h2>
								<label for="slt-luggage-ad1">Adult 1</label>
								<select class="form-control" id="slt-luggage-ad1">
									<option >1 valise, poids maximum 20 kg (40 €)</option>
									<option >1 valise, poids maximum 30 kg (50 €)</option>
									<option >1 valise, poids maximum 60 kg (90 €)</option>
								</select>
							</div>
					  </section>

				<!-- div où seront affichés les articles -->
	      <div id="articles-collection-container"></div>

					<section>

			      <script type="text/template" id="tpl-servises-benefit">
			        <% _.each(services, function(service, i) { %>
								<div class="item">
									<div class="scn-input">
										<input id="cbx-item<%= i %>" type="checkbox">
									</div>
									<div class="scn-body">
										<label class="list-unstyled scn-label" for="cbx-item<%= i %>"><span class="lbl"><%= service.title %></span> <span class="supplement">(supplément de <%= service.price %> €)</span></label>
									</div>
									<div  class="scn-info">
										<a href="#" data-toggle="modal" data-target="#myModal" data-backdrop="true">
										  <i class="fa fa-info-circle"></i>
										</a>
									</div>
								</div>
			        <% }); %>
			      </script>

					</section>


				</div>
			</div>
		</div>




<!-- Modal TMP -->
<div class="modal modal-page" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	<h2>Praesent bibendum volutpat</h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit interdum dui at mattis. Mauris pharetra quam enim, eu mollis quam vulputate eu. In nec lorem vulputate, laoreet metus eget, placerat enim. Sed maximus sodales sagittis. Aenean vitae faucibus massa, et rutrum mi. Curabitur iaculis posuere felis, ac sodales est interdum id.</p>
      	<p>Pellentesque ultricies varius dolor, eget imperdiet justo tempus commodo. Praesent bibendum volutpat elit, non imperdiet lectus convallis non. Donec tristique feugiat tellus, at scelerisque mi blandit eget. Morbi condimentum purus in efficitur eleifend. Integer id massa vel elit egestas facilisis nec ac magna.</p>
      	<p>Morbi ornare quam ut luctus porta. Etiam non vulputate erat. Quisque nec arcu nec massa sollicitudin mattis. Nunc varius augue lectus, sit amet viverra enim malesuada condimentum. Fusce et elementum ante. Vivamus cursus porttitor vulputate. Nunc finibus odio in neque molestie varius. Donec a leo libero.</p>
      	<h2>Praesent bibendum volutpat</h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit interdum dui at mattis. Mauris pharetra quam enim, eu mollis quam vulputate eu. In nec lorem vulputate, laoreet metus eget, placerat enim. Sed maximus sodales sagittis. Aenean vitae faucibus massa, et rutrum mi. Curabitur iaculis posuere felis, ac sodales est interdum id.</p>
      	<p>Pellentesque ultricies varius dolor, eget imperdiet justo tempus commodo. Praesent bibendum volutpat elit, non imperdiet lectus convallis non. Donec tristique feugiat tellus, at scelerisque mi blandit eget. Morbi condimentum purus in efficitur eleifend. Integer id massa vel elit egestas facilisis nec ac magna.</p>
      	<p>Morbi ornare quam ut luctus porta. Etiam non vulputate erat. Quisque nec arcu nec massa sollicitudin mattis. Nunc varius augue lectus, sit amet viverra enim malesuada condimentum. Fusce et elementum ante. Vivamus cursus porttitor vulputate. Nunc finibus odio in neque molestie varius. Donec a leo libero.</p>
      	<h2>Praesent bibendum volutpat</h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit interdum dui at mattis. Mauris pharetra quam enim, eu mollis quam vulputate eu. In nec lorem vulputate, laoreet metus eget, placerat enim. Sed maximus sodales sagittis. Aenean vitae faucibus massa, et rutrum mi. Curabitur iaculis posuere felis, ac sodales est interdum id.</p>
      	<p>Pellentesque ultricies varius dolor, eget imperdiet justo tempus commodo. Praesent bibendum volutpat elit, non imperdiet lectus convallis non. Donec tristique feugiat tellus, at scelerisque mi blandit eget. Morbi condimentum purus in efficitur eleifend. Integer id massa vel elit egestas facilisis nec ac magna.</p>
      	<p>Morbi ornare quam ut luctus porta. Etiam non vulputate erat. Quisque nec arcu nec massa sollicitudin mattis. Nunc varius augue lectus, sit amet viverra enim malesuada condimentum. Fusce et elementum ante. Vivamus cursus porttitor vulputate. Nunc finibus odio in neque molestie varius. Donec a leo libero.</p>
      </div>
    </div>
  </div>
</div>
		<script src="/static/dist/js/lib.min.js"></script>

		<script>
			blog = {};
			app = {};
		</script>
		
		<!--script src="/static/dist/js/app/collections/c_services.js"></script>
		<script src="/static/dist/js/app/models/m_services.js"></script>
		<script src="/static/dist/js/app/views/v_services.js"></script>

		<script src="/static/dist/js/app/app.js"></script-->
		
		<script src="/static/dist/js/app.min.js"></script>
		<script>
$('body').on({
    'touchmove': function(e) { 
        console.log($(this).scrollTop()); // Replace this with your code.

        	$("#console").html($(this).scrollTop());
    }
});
$(document).on({
    'scroll': function(e) { 
        console.log("scroll" + $(this).scrollTop()); // Replace this with your code.

        	$("#console").html("scroll" + $(this).scrollTop());
    }
});
		</script>

	</body>
</html>
