//
// Init. 
// --------------------------------------------------

//## Define colors
@color-gray-base:      	      #343232;
@color-gray-darker:    	      lighten(@color-gray-base, 12%);
@color-gray-dark:      	      lighten(@color-gray-base, 25%);  
@color-gray:           	      lighten(@color-gray-base, 64%);
@color-gray-light:     	      lighten(@color-gray-base, 71%);
@color-gray-lighter:   	      lighten(@color-gray-base, 77%);

@color-white:                 #fff;
@color-black:                 #000;

@color-primary:               #EB3345;
@color-secondary:             #3498DB;

//## Define colors
@radius-base:        					2px;
@radius-large:       					4px;
@radius-small:       					1px;

//## Define icon
@iconic-font-name:  					FontAwesome;

//
// Typography 
// --------------------------------------------------

//== Colors
//
//## Define typo colors
@typo-text-color:  						@color-gray-dark;
@typo-link-color:  						@color-primary;
@typo-link-hover-color:  			darken(@typo-link-color, 30%);

//== Fonts
//
//## Define font family in fonts/variables.less


//
// Form
// --------------------------------------------------

//== Colors
//
//## Define colors, background

//** `<input>` background, color, border
@form-input-bg:                       @color-white;
@form-input-color:                    @color-gray-dark;
@form-input-border:                   #BABABA;
//** `<input>` focus, background, color, border
@form-input-border-focus:							darken(@form-input-border, 30%);
//** `<input>` Checked
@form-input-checked-color:						@color-primary;
@form-input-checked-border:						@color-primary;


















